@{
    ViewBag.Title = "Index";
}

<div class="container" >    
    <div class="row align-items-center" id="placeholder">
        <div class="col-5">Date: @DateTime.Now.ToShortDateString()</div>
        <h3 class="display-6 col-5">Article List</h3>
    <hr />
        @Html.Action("ArticleList", "Articles")
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-3.6.4.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

}
