@model IEnumerable<Work_01.Models.Book> 
@{
    ViewBag.Title = "Index";
}

<div class="col-10 offset-1">
    <div class="card shadow-sm" style="color: white; background-color:seagreen;width: 12rem;">
        <div class="card-body">
            <h5 class="card-title">Total Customer</h5>
            <h2 class="text-center">@ViewBag.Count</h2>
        </div>
    </div>
</div>

